.platform-layout {
    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 55px;
    }

    &__wrapper {
        display: flex;
        min-height: 100vh;
        padding-top: 55px;
    }

    &__sidebar {
        width: 250px;
        flex-shrink: 0;
        padding-top: 50px;
        background-color: #f7f7f7;
        box-shadow: 0 0 3px rgba(0,0,0,.1);
    }

    &__content {
        flex-grow: 1;
        flex-shrink: 1;
        padding-top: 50px;
    }
}

