.sidebar-menu {
    &__list {
        margin-bottom: 15px;
        padding: 0;
        list-style: none;
    }
}

.sidebar-menu-item {
    &__link {
        display: flex;
        width: 100%;
        padding: 10px 25px;
        text-decoration: none;
        //border-bottom: 1px solid transparent;
        transition: .2s;

        &:hover {
            background-color: var(--bs-secondary-bg, #fefefe);
            //border-color: var(--bs-link-color-rgb), var(--bs-link-opacity, 1);
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        font-size: 16px;
    }

    &__text {

    }
}
